<div class="container">
  <div class="card">
    <!-- <div class="card-header">
      Manual machine control
    </div> -->
    <div class="card-body">
      <!-- FORM -->
      <form>
        <div class="form-group">
          <label for="name">Enter command here</label>
          <input type="text" id="name" class="form-control form-control-sm" placeholder="moveXBy: 10" [(ngModel)]="command.body" name="body">
        </div>

        <!-- <input type="submit" value="Submit" class="btn btn-primary"> -->
        <button class="btn btn-primary" (click)="onSubmit()" type="submit">Submit</button>
      </form>
      <div>
      </div>
    </div>
  </div>
  <br>
</div>