<div class="container">
  <div *ngIf="commands?.length > 0;else noCommands">

    <div class="" *ngFor="let command of commands">
      <div class="card">
        <div class="card-header">
          {{getFormattedDate(command)}}
          <!-- <span class="badge badge-success" >{{command.status}}</span> -->
          <span [ngClass]="setBadgeClass(command.status)">{{command.status}}</span>
        </div>
        <div class="card-body">
          <p class="card-text">{{command.body}}</p>
          <a (click)="deleteCommand($event, command)" class="btn btn-danger">Delete</a>
        </div>
      </div>
      <br>
    </div>


    <ng-template #noCommands>
      <hr>
      <h5>There are no commands to list</h5>
    </ng-template>
  </div>